# Activar URL rewriting
RewriteEngine On

# Si el archivo o directorio existe, lo sirve normalmente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si no existe, redirige todo a index.php pasando la URL como parámetro
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
